@include font-face("mari-regular", "../fonts/mari-webfont-webfont", normal);

@include font-face("mari-bold", "../fonts/mari_bold-webfont-webfont", normal);

@include font-face("mari-light", "../fonts/mari_light-webfont-webfont", normal);

//Fonts
$mari--regular : "mari-regular";
$mari--light : "mari-light";
$mari--bold : "mari-bold";
