html, body {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $mari--regular;
    font-weight: normal;
}

p, h1, h2, h4 {
    font-weight: normal;
    line-height: 1.4em;
    margin: 0;
}

h1 {
    font-size: $fontsize__h1;
    font-family: $mari--light;
    color: $palette__white;
}

h2 {
    font-size : $fontsize__h2;
    font-weight: bold;
}

h3 {
    font-size: $fontsize__h3;
    font-weight: lighter;
}

p {
    color: $palette__white;
    font-size: $fontsize__p;
    font-family: $mari--light;
    &.text-bold, strong, b {
        font-family: $mari--bold;
    }
}

a {
    color: $palette__black--dark;
    font-family: $mari--bold;
}