.swiper-slide {
    overflow: hidden;
    .photo {
        height: 100%;
        width: auto;
        @include position(absolute, 50% null null 50%);
        @include transform(translate(-50%, -50%));
    }
}

.swiper-pagination {
    bottom: 80px !important;
    background: rgba(0, 0, 0, 0.3);
}

.openPhoto {
    display: block;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.openVideo {
    display: block;
    height: 100%;
    width: 100%;
    video {
        height: 100%;
        @include position(absolute, 50% null null 50%);
        @include transform(translate(-50%, -50%));
    }
}

.btn-slider {
    position: absolute;
    z-index: 9;
    bottom: 10px;
    width: 90%;
    left: 50%;
    @include transform(translateX(-50%));
    z-index: 99;
}

.sliderDate {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    color: white;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    display: block;
    margin: 0;
    padding: 10px;
}

.videoTitle {
    margin: 0;
    position: absolute;
    top: 20%;
    color: white;
    z-index: 9;
    font-size: 20px;
    width: 100%;
    text-align: center;
}