.tabs-container {
    position: absolute;
    bottom: 51px;
    left: 0;
    right: 0;
    // top: 300px;
    // top: 214px;
    top: 250px;
    @include screen(768px, 1024px, portrait) {
        top: 364px;
        bottom: 113px;
    }

    .tabs-header {
        position: relative;
        height: 50px;
        border-top: solid 1px $palette__grey--dark;
        @include screen(768px, 1024px, portrait) {
            border-bottom: solid 1px $palette__grey--dark;
        }

        h3 {
            margin: 0;
            padding: 12px 12px 0;
        }
        button {
            position: absolute;
            top: 50%;
            right: 15px;
            @include transform(translateY(-50%));
        }
    }
    .tabs-innercontainer {
        height: 100%;
        .col-25 {
            @include screen(768px, 1024px, portrait) {
                width: 100%;
                height: auto;
            }
        }
        .col-75 {
            @include screen(768px, 1024px, portrait) {
                width: 100%;
            }
        }
    }
}

.tabs-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    @include screen(768px, 1024px, portrait) {
        height: auto;
    }

    li {
        height: 33.333333333%;
        width: 100%;
        text-align: center;
        position: relative;
        background: $palette__white;
        @include screen(768px, 1024px, portrait) {
            height: auto;
            width: 33.333333333%;
            float: left;
            height: 60px;
        }

        span {
            display: block;
            position: absolute;
            left: 50%;
            @include transform(translateX(-50%));
            width: 100%;
            i {
                display: inline-block;
                position: relative;
            }
            @include screen(768px, 1024px, portrait) {
                @include transform(none);
                left: auto;
                position: static;
                height: 100%;
            }
        }
        a {
            text-transform: uppercase;
            color: $palette__grey--more-dark;
            text-decoration: none;
            display: inline-block;
            font-size: $fontsize__p--large;
            font-family: $mari--light;
            font-weight: 700;
            position: relative;
            @include screen(768px, 1024px, portrait) {
                top: 14px;
            }
        }
        .arrow {
            @include screen(768px, 1024px, portrait) {
                @include transform(translate(0, -15px) rotate(90deg));
            }
        }
        &.current {
            .arrow {
                @include transform(translateX(25px));
                // @include transition(transform 200ms ease, opacity 200ms ease);
                opacity: 1;
                @include screen(768px, 1024px, portrait) {
                    @include transform(translate(0, 0) rotate(90deg));
                }
            }
            background: #76c6eb;
            // Old browsers
            background: -moz-radial-gradient(center, ellipse cover, #76c6eb 0%, #009ce8 100%);
            /* FF3.6+*/
            background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #76c6eb), color-stop(100%, #009ce8));
            /* Chrome,Safari4+*/
            background: -webkit-radial-gradient(center, ellipse cover, #76c6eb 0%, #009ce8 100%);
            /* Chrome10+,Safari5.1+*/
            background: -o-radial-gradient(center, ellipse cover, #76c6eb 0%, #009ce8 100%);
            /* Opera 12+*/
            background: -ms-radial-gradient(center, ellipse cover, #76c6eb 0%, #009ce8 100%);
            /* IE10+*/
            background: radial-gradient(ellipse at center, #76c6eb 0%, #009ce8 100%);
            /* W3C*/
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76c6eb', endColorstr='#009ce8', GradientType=1);
            /* IE6-9 fallback on horizontal gradient*/
            a {
                color: $palette__white;
            }
        }
        &.process {
            border-bottom: 1px solid $palette__grey--dark;
            border-top: 1px solid $palette__grey--dark;
            .img {
                display: block;
                position: relative;
                margin: 39px auto 0;
                width: 80px;
                height: 59px;
                background: url(../img/process_grey.png) no-repeat;
                @include screen(768px, 1024px, portrait) {
                    display: none;
                    margin: 5px auto;
                    float: left;
                    left: 30px;
                    width: 50px;
                }
            }
            @include screen(768px, 1024px, portrait) {
                border-top: 0;

            }

            &.current {
                .img {
                    background: url(../img/process.png) no-repeat;
                }
            }
        }
        &.transfers {
            border-bottom: 1px solid $palette__grey--dark;
            .img {
                display: block;
                margin: 35px auto 5px;
                position: relative;
                width: 65px;
                height: 62px;
                background: url("../img/transfer_grey.png") no-repeat;
                @include screen(768px, 1024px, portrait) {
                    display: none;
                    margin: 5px auto;
                    float: left;
                    left: 15px;
                    width: 40px;
                }
            }
            @include screen(768px, 1024px, portrait) {
                span{
                    border-left: 1px solid $palette__grey--dark;
                }
            }
            &.current {
                .img {
                    background: url(../img/transfer.png) no-repeat;
                }
            }
        }
        &.positioning {
            .img {
                width: 70px;
                display: block;
                margin: 35px auto 5px;
                position: relative;
                background: url("../img/positioning_grey.png") no-repeat;
                width: 65px;
                height: 58px;
                @include screen(768px, 1024px, portrait) {
                    display: none;
                    margin: 5px auto;
                    float: left;
                    left: 30px;
                    width: 40px;
                }
            }
            @include screen(768px, 1024px, portrait) {
                border-bottom: 1px solid $palette__grey--dark;
                span {
                    border-left: 1px solid $palette__grey--dark;
                }
            }

            &.current {
                .img {
                    background: url("../img/positioning.png") no-repeat;
                }
            }
        }
    }
}

.tab {
    background-color: #fff;
}

.tab-content {
    width: auto;
    height: 100%;
    .row {
        height: 100%;
        .col-33 {
            height: 100%;
            .swiper-container {
                height: 100%;
            }
        }
    }
    img {
        width: 100%;
    }
}