.clearfix {
  clear: both;
}

.hide {
  display: none;
}

.h100 {
  height: 100%;
}

@font-face {
  font-family: "mari-regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/mari-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mari-webfont-webfont.woff2") format("woff2"), url("../fonts/mari-webfont-webfont.woff") format("woff"), url("../fonts/mari-webfont-webfont.ttf") format("truetype"), url("../fonts/mari-webfont-webfont.svg#mari-regular") format("svg");
}
@font-face {
  font-family: "mari-bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/mari_bold-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mari_bold-webfont-webfont.woff2") format("woff2"), url("../fonts/mari_bold-webfont-webfont.woff") format("woff"), url("../fonts/mari_bold-webfont-webfont.ttf") format("truetype"), url("../fonts/mari_bold-webfont-webfont.svg#mari-bold") format("svg");
}
@font-face {
  font-family: "mari-light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/mari_light-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mari_light-webfont-webfont.woff2") format("woff2"), url("../fonts/mari_light-webfont-webfont.woff") format("woff"), url("../fonts/mari_light-webfont-webfont.ttf") format("truetype"), url("../fonts/mari_light-webfont-webfont.svg#mari-light") format("svg");
}
body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  -webkit-highlight: none;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "mari-regular";
  font-weight: normal;
}

p, h1, h2, h4 {
  font-weight: normal;
  line-height: 1.4em;
  margin: 0;
}

h1 {
  font-size: 1.875rem;
  font-family: "mari-light";
  color: #fff;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.375rem;
  font-weight: lighter;
}

p {
  color: #fff;
  font-size: 1rem;
  font-family: "mari-light";
}
p.text-bold, p strong, p b {
  font-family: "mari-bold";
}

a {
  color: #333;
  font-family: "mari-bold";
}

.tabs-container {
  position: absolute;
  bottom: 51px;
  left: 0;
  right: 0;
  top: 250px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .tabs-container {
    top: 364px;
    bottom: 113px;
  }
}
.tabs-container .tabs-header {
  position: relative;
  height: 50px;
  border-top: solid 1px #d5d5d5;
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .tabs-container .tabs-header {
    border-bottom: solid 1px #d5d5d5;
  }
}
.tabs-container .tabs-header h3 {
  margin: 0;
  padding: 12px 12px 0;
}
.tabs-container .tabs-header button {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.tabs-container .tabs-innercontainer {
  height: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .tabs-container .tabs-innercontainer .col-25 {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .tabs-container .tabs-innercontainer .col-75 {
    width: 100%;
  }
}

.tabs-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .tabs-menu {
    height: auto;
  }
}
.tabs-menu li {
  height: 33.333333333%;
  width: 100%;
  text-align: center;
  position: relative;
  background: #fff;
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .tabs-menu li {
    height: auto;
    width: 33.333333333%;
    float: left;
    height: 60px;
  }
}
.tabs-menu li span {
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
}
.tabs-menu li span i {
  display: inline-block;
  position: relative;
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .tabs-menu li span {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    left: auto;
    position: static;
    height: 100%;
  }
}
.tabs-menu li a {
  text-transform: uppercase;
  color: #434343;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  font-family: "mari-light";
  font-weight: 700;
  position: relative;
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .tabs-menu li a {
    top: 14px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .tabs-menu li .arrow {
    -webkit-transform: translate(0, -15px) rotate(90deg);
    -moz-transform: translate(0, -15px) rotate(90deg);
    -ms-transform: translate(0, -15px) rotate(90deg);
    -o-transform: translate(0, -15px) rotate(90deg);
    transform: translate(0, -15px) rotate(90deg);
  }
}
.tabs-menu li.current {
  background: #76c6eb;
  background: -moz-radial-gradient(center, ellipse cover, #76c6eb 0%, #009ce8 100%);
  /* FF3.6+*/
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #76c6eb), color-stop(100%, #009ce8));
  /* Chrome,Safari4+*/
  background: -webkit-radial-gradient(center, ellipse cover, #76c6eb 0%, #009ce8 100%);
  /* Chrome10+,Safari5.1+*/
  background: -o-radial-gradient(center, ellipse cover, #76c6eb 0%, #009ce8 100%);
  /* Opera 12+*/
  background: -ms-radial-gradient(center, ellipse cover, #76c6eb 0%, #009ce8 100%);
  /* IE10+*/
  background: radial-gradient(ellipse at center, #76c6eb 0%, #009ce8 100%);
  /* W3C*/
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76c6eb', endColorstr='#009ce8', GradientType=1);
  /* IE6-9 fallback on horizontal gradient*/
}
.tabs-menu li.current .arrow {
  -webkit-transform: translateX(25px);
  -moz-transform: translateX(25px);
  -ms-transform: translateX(25px);
  -o-transform: translateX(25px);
  transform: translateX(25px);
  opacity: 1;
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .tabs-menu li.current .arrow {
    -webkit-transform: translate(0, 0) rotate(90deg);
    -moz-transform: translate(0, 0) rotate(90deg);
    -ms-transform: translate(0, 0) rotate(90deg);
    -o-transform: translate(0, 0) rotate(90deg);
    transform: translate(0, 0) rotate(90deg);
  }
}
.tabs-menu li.current a {
  color: #fff;
}
.tabs-menu li.process {
  border-bottom: 1px solid #d5d5d5;
  border-top: 1px solid #d5d5d5;
}
.tabs-menu li.process .img {
  display: block;
  position: relative;
  margin: 39px auto 0;
  width: 80px;
  height: 59px;
  background: url(../img/process_grey.png) no-repeat;
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .tabs-menu li.process .img {
    display: none;
    margin: 5px auto;
    float: left;
    left: 30px;
    width: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .tabs-menu li.process {
    border-top: 0;
  }
}
.tabs-menu li.process.current .img {
  background: url(../img/process.png) no-repeat;
}
.tabs-menu li.transfers {
  border-bottom: 1px solid #d5d5d5;
}
.tabs-menu li.transfers .img {
  display: block;
  margin: 35px auto 5px;
  position: relative;
  width: 65px;
  height: 62px;
  background: url("../img/transfer_grey.png") no-repeat;
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .tabs-menu li.transfers .img {
    display: none;
    margin: 5px auto;
    float: left;
    left: 15px;
    width: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .tabs-menu li.transfers span {
    border-left: 1px solid #d5d5d5;
  }
}
.tabs-menu li.transfers.current .img {
  background: url(../img/transfer.png) no-repeat;
}
.tabs-menu li.positioning .img {
  width: 70px;
  display: block;
  margin: 35px auto 5px;
  position: relative;
  background: url("../img/positioning_grey.png") no-repeat;
  width: 65px;
  height: 58px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .tabs-menu li.positioning .img {
    display: none;
    margin: 5px auto;
    float: left;
    left: 30px;
    width: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .tabs-menu li.positioning {
    border-bottom: 1px solid #d5d5d5;
  }
  .tabs-menu li.positioning span {
    border-left: 1px solid #d5d5d5;
  }
}
.tabs-menu li.positioning.current .img {
  background: url("../img/positioning.png") no-repeat;
}

.tab {
  background-color: #fff;
}

.tab-content {
  width: auto;
  height: 100%;
}
.tab-content .row {
  height: 100%;
}
.tab-content .row .col-33 {
  height: 100%;
}
.tab-content .row .col-33 .swiper-container {
  height: 100%;
}
.tab-content img {
  width: 100%;
}

.swiper-container.process-video, .swiper-container.process-image, .swiper-container.transfers-image, .swiper-container.transfers-video, .swiper-container.positioning-image, .swiper-container.positioning-video {
  border-right: 1px solid #777;
}

.swiper-slide {
  overflow: hidden;
}
.swiper-slide .photo {
  height: 100%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .swiper-slide .photo {
    position: relative;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
  }
}

.swiper-pagination {
  bottom: 65px !important;
}

.openPhoto {
  display: block;
  height: 100%;
  width: 100%;
}

.openVideo {
  display: block;
  height: 100%;
  width: 100%;
}
.openVideo:before {
  content: '';
  display: block;
  height: 80px;
  width: 80px;
  -webkit-transform: translate(85px, 160px);
  -moz-transform: translate(85px, 160px);
  -ms-transform: translate(85px, 160px);
  -o-transform: translate(85px, 160px);
  transform: translate(85px, 160px);
  z-index: 1;
  background: rgba(0, 0, 0, 0.5) url(../img/arrow_white.png) no-repeat 30px 18px;
  border-radius: 50%;
}
.openVideo video {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.openVideo video::-webkit-media-controls {
  display: none !important;
}

.btn--slider {
  position: absolute;
  z-index: 9;
  bottom: 10px;
  width: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 99;
}

.sliderDate {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  color: white;
  width: 100%;
  display: block;
  margin: 0;
  padding: 10px;
  text-shadow: 1px 1px 1px black;
  font-size: 18px;
  font-family: "mari-regular";
}

.videoTitle {
  margin: 0;
  position: relative;
  top: 15%;
  color: black;
  z-index: 9;
  text-align: left;
  word-wrap: break-word;
  font-family: "mari-light";
  padding: 0 10px;
  text-align: center;
}

.sliderNote {
  height: 100%;
  margin: 0;
  color: #333;
  padding: 50px 10px 0;
  font-family: "mari-regular";
}

.process-notes .sliderDate, .transfers-notes .sliderDate, .positioning-notes .sliderDate, .process-video .sliderDate, .transfers-video .sliderDate, .positioning-video .sliderDate {
  text-shadow: none;
  color: #333;
}

.swiper-pagination-bullet {
  position: relative;
  background: transparent;
  opacity: 1;
}
.swiper-pagination-bullet:before {
  content: '';
  position: absolute;
  height: 13px;
  width: 13px;
  display: block;
  border: solid 1px black;
  left: 50%;
  top: 50%;
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.swiper-pagination-bullet-active {
  background-color: black;
}

.no-results {
  width: 100%;
  height: 100%;
  background: #f0f0f0;
}
.no-results p {
  position: relative;
  width: 90%;
  margin: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 25px;
  text-align: center;
  color: #333;
}

#transfers-notes .swiper-slide, #process-notes .swiper-slide, #positioning-notes .swiper-slide {
  background-color: #f0f0f0;
}

.process-video, .transfers-video, .positioning-video {
  background-color: #f0f0f0;
}

.popup-addPatient .row {
  width: 50%;
  margin: auto;
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .popup-addPatient .row {
    width: 70%;
  }
}
.popup-addPatient .row .list-block {
  width: 100%;
}
.popup-addPatient .row .list-block .item-title {
  color: gray;
}
.popup-addPatient .row .list-block .profileImage {
  border: solid 2px lightgray;
  background: url("../img/ava.png") no-repeat center center;
  width: 152px;
  height: 152px;
  margin: 0 auto 15px;
  border-radius: 2px;
}
.popup-addPatient .row .list-block .align-top .item-inner {
  display: block;
}
.popup-addPatient .row .list-block .align-top .item-title {
  width: 100%;
}
.popup-addPatient .row .list-block .align-top textarea {
  padding-left: 0;
}
.popup-addPatient .row button {
  width: 50%;
  margin: auto;
}
.popup-addPatient .addProfileImage {
  width: 35%;
  margin: 0 auto 25px;
}
.popup-addPatient i.icon.icon-form-door {
  width: 29px;
  height: 29px;
  background-image: url(../img/i-form-door.png);
}

.popup-addNote .row {
  width: 50%;
  margin: auto;
}
.popup-addNote .row .list-block {
  width: 100%;
}
.popup-addNote .row .list-block .align-top .item-inner {
  display: block;
}
.popup-addNote .row .list-block .align-top .item-title {
  width: 100%;
}
.popup-addNote .row .list-block .align-top textarea {
  padding-left: 0;
  height: 400px;
}
.popup-addNote .row button {
  width: 50%;
  margin: auto;
}

.profile-image, .profileImage {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
  display: block;
}
.profile-image img, .profileImage img {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Default Status bar background */
.statusbar-overlay {
  background: black;
  /* We can add transition for smooth color animation */
  -webkit-transition: 400ms;
  transition: 400ms;
}

.loading {
  position: absolute;
  width: 100%;
  display: none;
}
.loading--leftview {
  position: absolute;
  width: 100%;
  display: none;
}

.preloader {
  position: absolute;
  top: 11px;
  left: 166px;
  z-index: 9999;
}
.preloader--leftview {
  left: auto;
  top: 13px;
  right: 20px;
}

.spinner-container {
  display: inline-block;
  z-index: 9999;
  position: absolute;
  top: 1px;
  left: 84px;
}

.dots {
  display: inline-block;
  position: relative;
}

.dots:not(:last-child) {
  margin-right: 2px;
}

.dots:before, .dots:after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
}

.dots:nth-child(1):before {
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-animation: animBefore 1s linear infinite;
  animation: animBefore 1s linear infinite;
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
  background-color: #F00;
}

.dots:nth-child(1):after {
  -webkit-transform: translateY(200%);
  transform: translateY(200%);
  -webkit-animation: animAfter 1s linear infinite;
  animation: animAfter 1s linear infinite;
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
  background-color: #777;
}

.dots:nth-child(2):before {
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-animation: animBefore 1s linear infinite;
  animation: animBefore 1s linear infinite;
  -webkit-animation-delay: -1.8s;
  animation-delay: -1.8s;
  background-color: #F00;
}

.dots:nth-child(2):after {
  -webkit-transform: translateY(200%);
  transform: translateY(200%);
  -webkit-animation: animAfter 1s linear infinite;
  animation: animAfter 1s linear infinite;
  -webkit-animation-delay: -1.8s;
  animation-delay: -1.8s;
  background-color: #777;
}

.dots:nth-child(3):before {
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-animation: animBefore 1s linear infinite;
  animation: animBefore 1s linear infinite;
  -webkit-animation-delay: -2.7s;
  animation-delay: -2.7s;
  background-color: #F00;
}

.dots:nth-child(3):after {
  -webkit-transform: translateY(200%);
  transform: translateY(200%);
  -webkit-animation: animAfter 1s linear infinite;
  animation: animAfter 1s linear infinite;
  -webkit-animation-delay: -2.7s;
  animation-delay: -2.7s;
  background-color: #777;
}

.dots:nth-child(4):before {
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-animation: animBefore 1s linear infinite;
  animation: animBefore 1s linear infinite;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
  background-color: #F00;
}

.dots:nth-child(4):after {
  -webkit-transform: translateY(200%);
  transform: translateY(200%);
  -webkit-animation: animAfter 1s linear infinite;
  animation: animAfter 1s linear infinite;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
  background-color: #777;
}

.dots:nth-child(5):before {
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-animation: animBefore 1s linear infinite;
  animation: animBefore 1s linear infinite;
  -webkit-animation-delay: -4.5s;
  animation-delay: -4.5s;
  background-color: #F00;
}

.dots:nth-child(5):after {
  -webkit-transform: translateY(200%);
  transform: translateY(200%);
  -webkit-animation: animAfter 1s linear infinite;
  animation: animAfter 1s linear infinite;
  -webkit-animation-delay: -4.5s;
  animation-delay: -4.5s;
  background-color: #777;
}

.dots:nth-child(6):before {
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-animation: animBefore 1s linear infinite;
  animation: animBefore 1s linear infinite;
  -webkit-animation-delay: -5.4s;
  animation-delay: -5.4s;
  background-color: #F00;
}

.dots:nth-child(6):after {
  -webkit-transform: translateY(200%);
  transform: translateY(200%);
  -webkit-animation: animAfter 1s linear infinite;
  animation: animAfter 1s linear infinite;
  -webkit-animation-delay: -5.4s;
  animation-delay: -5.4s;
  background-color: #777;
}

.dots:nth-child(7):before {
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-animation: animBefore 1s linear infinite;
  animation: animBefore 1s linear infinite;
  -webkit-animation-delay: -6.3s;
  animation-delay: -6.3s;
  background-color: #F00;
}

.dots:nth-child(7):after {
  -webkit-transform: translateY(200%);
  transform: translateY(200%);
  -webkit-animation: animAfter 1s linear infinite;
  animation: animAfter 1s linear infinite;
  -webkit-animation-delay: -6.3s;
  animation-delay: -6.3s;
  background-color: #777;
}

.dots:nth-child(8):before {
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-animation: animBefore 1s linear infinite;
  animation: animBefore 1s linear infinite;
  -webkit-animation-delay: -7.2s;
  animation-delay: -7.2s;
  background-color: #F00;
}

.dots:nth-child(8):after {
  -webkit-transform: translateY(200%);
  transform: translateY(200%);
  -webkit-animation: animAfter 1s linear infinite;
  animation: animAfter 1s linear infinite;
  -webkit-animation-delay: -7.2s;
  animation-delay: -7.2s;
  background-color: #777;
}

.dots:nth-child(9):before {
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-animation: animBefore 1s linear infinite;
  animation: animBefore 1s linear infinite;
  -webkit-animation-delay: -8.1s;
  animation-delay: -8.1s;
  background-color: #F00;
}

.dots:nth-child(9):after {
  -webkit-transform: translateY(200%);
  transform: translateY(200%);
  -webkit-animation: animAfter 1s linear infinite;
  animation: animAfter 1s linear infinite;
  -webkit-animation-delay: -8.1s;
  animation-delay: -8.1s;
  background-color: #777;
}

.dots:nth-child(10):before {
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-animation: animBefore 1s linear infinite;
  animation: animBefore 1s linear infinite;
  -webkit-animation-delay: -9s;
  animation-delay: -9s;
  background-color: #F00;
}

.dots:nth-child(10):after {
  -webkit-transform: translateY(200%);
  transform: translateY(200%);
  -webkit-animation: animAfter 1s linear infinite;
  animation: animAfter 1s linear infinite;
  -webkit-animation-delay: -9s;
  animation-delay: -9s;
  background-color: #777;
}

@-webkit-keyframes animBefore {
  0% {
    -webkit-transform: scale(1) translateY(-200%);
    z-index: 1;
  }
  25% {
    -webkit-transform: scale(1.3) translateY(0);
    z-index: 1;
  }
  50% {
    -webkit-transform: scale(1) translateY(200%);
    z-index: -1;
  }
  75% {
    -webkit-transform: scale(0.7) translateY(0);
    z-index: -1;
  }
  100% {
    -webkit-transform: scale(1) translateY(-200%);
    z-index: -1;
  }
}
@keyframes animBefore {
  0% {
    transform: scale(1) translateY(-200%);
    z-index: 1;
  }
  25% {
    transform: scale(1.3) translateY(0);
    z-index: 1;
  }
  50% {
    transform: scale(1) translateY(200%);
    z-index: -1;
  }
  75% {
    transform: scale(0.7) translateY(0);
    z-index: -1;
  }
  100% {
    transform: scale(1) translateY(-200%);
    z-index: -1;
  }
}
@-webkit-keyframes animAfter {
  0% {
    -webkit-transform: scale(1) translateY(200%);
    z-index: -1;
  }
  25% {
    -webkit-transform: scale(0.7) translateY(0);
    z-index: -1;
  }
  50% {
    -webkit-transform: scale(1) translateY(-200%);
    z-index: 1;
  }
  75% {
    -webkit-transform: scale(1.3) translateY(0);
    z-index: 1;
  }
  100% {
    -webkit-transform: scale(1) translateY(200%);
    z-index: 1;
  }
}
@keyframes animAfter {
  0% {
    transform: scale(1) translateY(200%);
    z-index: -1;
  }
  25% {
    transform: scale(0.7) translateY(0);
    z-index: -1;
  }
  50% {
    transform: scale(1) translateY(-200%);
    z-index: 1;
  }
  75% {
    transform: scale(1.3) translateY(0);
    z-index: 1;
  }
  100% {
    transform: scale(1) translateY(200%);
    z-index: 1;
  }
}
.search-container {
  position: relative;
}

.searchbar {
  padding: 0;
  background: transparent;
  width: auto;
}
.searchbar input[type="search"] {
  border: solid 1px #d5d5d5;
  border-radius: 0;
}
.searchbar:after {
  background: transparent;
}

.searchbar-overlay.active {
  position: fixed;
  top: 44px;
  opacity: 1;
}

#results {
  display: none;
  list-style: none;
  position: absolute;
  width: 202px;
  left: 0;
  border-left: solid 1px lightgrey;
  top: 32px;
  border-right: solid 1px lightgrey;
  border-bottom: 1px solid lightgrey;
  background: white;
  z-index: 99999;
  padding: 0;
  margin: 0;
  height: auto;
}

.show {
  border-top: 1px solid lightgrey;
}
.show.nothing {
  padding: 15px;
}

.patient-name a {
  padding: 15px;
  display: block;
}

.patient-block {
  background-color: #007dbb;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #009ce8), color-stop(100%, #76c6eb));
  background-image: -webkit-linear-gradient(left, #009ce8 0%, #76c6eb 100%);
  background-image: -moz-linear-gradient(left, #009ce8 0%, #76c6eb 100%);
  background-image: -o-linear-gradient(left, #009ce8 0%, #76c6eb 100%);
  background-image: linear-gradient(left, #009ce8 0%, #76c6eb 100%);
}
.patient-block .content-block-inner {
  background-color: transparent;
}
.patient-block .row .profileText-container {
  font-size: 15px;
  margin: auto;
  padding: 0;
}
.patient-block .row .profileText-container p {
  font-size: 1.25rem;
  margin: 0;
  color: #fff;
  font-size: 1.25rem;
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .patient-block .row {
    width: 100%;
    margin: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .patient-block .row .profile-image, .patient-block .row .profileImage {
    margin: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .patient-block .row .patientImage-Data {
    width: 100%;
  }
}
.patient-block .row .patientInfo-container {
  max-height: 150px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.patient-block .row .patientInfo-container p {
  margin: 0;
  font-size: 1.25rem;
  color: #fff;
  word-wrap: break-word;
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .patient-block .row .patientInfo-container {
    margin: auto;
    width: 100%;
    padding: 10px 65px 0;
  }
}

.navbar {
  background-color: #fff;
}
.navbar:after {
  background-color: transparent;
}

div[data-page="learning"] .navbar {
  border-bottom: solid 1px #d5d5d5;
}
div[data-page="learning"] .navbar .navbar-on-center {
  background-color: #fff;
}

.page-content--scroll .content-block-title {
  margin: 10px 0px 10px 15px;
}

.arrow {
  will-change: transform;
  -webkit-transition: -webkit-transform 200ms ease, opacity 200ms ease;
  -moz-transition: -moz-transform 200ms ease, opacity 200ms ease;
  transition: transform 200ms ease, opacity 200ms ease;
}
.arrow:not(:nth-child(1n+3)) {
  font-size: 5px;
  display: inline-block;
  text-indent: -9999px;
  width: 5em;
  height: 5em;
  position: absolute;
  bottom: 5px;
  right: 0px;
  overflow: hidden;
  opacity: 0;
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .arrow:not(:nth-child(1n+3)) {
    right: -35px;
  }
}
.arrow:not(:nth-child(1n+3)):before, .arrow:not(:nth-child(1n+3)):after {
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  content: "";
  position: absolute;
  left: 25%;
  right: 25%;
  height: 2px;
  background-color: #fff;
  top: 48%;
}
.arrow:not(:nth-child(1n+3)):before {
  top: 54%;
}

.prev:not(:nth-child(1n+3)):after {
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.prev:not(:nth-child(1n+3)):before {
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.arrow:not(:nth-child(1n+3)):after {
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.arrow:not(:nth-child(1n+3)):before {
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  -o-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.toggler {
  font-family: arial;
  font-size: 18px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #000;
  margin-top: 6px;
}
.toggler span {
  display: block;
  padding: 9px 20px 10px 38px;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.toggler span.open {
  opacity: 0;
  position: absolute;
  left: 0;
}
.toggler i {
  position: absolute;
  left: 0;
  background-color: #000;
  height: 3px;
  width: 28px;
  -webkit-transition: -webkit-transform 400ms ease, top 400ms ease;
  -moz-transition: -moz-transform 400ms ease, top 400ms ease;
  transition: transform 400ms ease, top 400ms ease;
}
.toggler i.t {
  top: 12px;
}
.toggler i.m {
  top: 18px;
  -webkit-transition: opacity 400ms ease, width 400ms ease, left 400ms ease;
  -moz-transition: opacity 400ms ease, width 400ms ease, left 400ms ease;
  transition: opacity 400ms ease, width 400ms ease, left 400ms ease;
}
.toggler i.b {
  top: 24px;
}
.toggler.open span.closed {
  opacity: 0;
}
.toggler.open span.open {
  opacity: 1;
}
.toggler.open i.t {
  top: 18px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.toggler.open i.m {
  width: 0;
  opacity: 0;
  left: 34px;
}
.toggler.open i.b {
  top: 18px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.btn {
  background-color: #fff;
  border-radius: 0;
  border: 0;
  border-color: transparent;
  color: #333;
}
.btn--blue {
  background-color: #009ceb;
  color: #fff;
}
.btn--50 {
  width: 50%;
  margin: auto;
}
.btn--delete {
  padding-left: 31px;
}
.btn--delete:before {
  content: '';
  display: block;
  height: 20px;
  width: 20px;
  background: url(../img/delete.png) no-repeat;
  background-size: 18px;
  position: absolute;
  top: 5px;
  left: 5px;
}
.btn--slider i {
  display: block;
  width: 44px;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
}
.btn--slider--image i {
  background: #009ceb url(../img/camera.png) no-repeat center center;
  background-size: 26px;
}
.btn--slider--video i {
  background: #009ceb url(../img/video.png) no-repeat center center;
  background-size: 26px;
}
.btn--slider--note i {
  background: #009ceb url(../img/chart.png) no-repeat center center;
  background-size: 26px;
}
.btn.active-state {
  background-color: #81ccf1;
  color: #fff;
}

.login-screen, html.with-statusbar-overlay .popup.tablet-fullscreen, html.with-statusbar-overlay body > .photo-browser {
  height: 100% !important;
  top: 0 !important;
}

.learning {
  padding-top: 50px;
}
.learning__content {
  margin-top: 50px;
}
.learning__content .row-custom {
  margin-left: -15px;
  margin-right: -15px;
}
.learning__content .row-custom .col-33-custom {
  margin-bottom: 15px;
  width: 33.33333333%;
  float: left;
  padding: 0 15px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.thumbnail {
  display: block;
  line-height: 1.4rem;
  background-color: #fff;
  border: 1px solid #ddd;
  overflow: hidden;
  min-height: 418px;
  padding-bottom: 5px;
}
.thumbnail:hover {
  cursor: pointer;
}
.thumbnail .img-container {
  max-height: 200px;
  overflow: hidden;
}
.thumbnail img {
  width: 100%;
  height: auto;
}
.thumbnail .caption {
  padding: 9px;
  overflow: scroll;
  max-height: 200px;
  position: relative;
}
.thumbnail .caption p {
  color: #333;
  word-wrap: break-word;
}
.thumbnail .video-container {
  position: relative;
  display: block;
  height: 200px;
  background: #f0f0f0;
}
.thumbnail .video-container:before {
  content: '';
  display: block;
  height: 80px;
  width: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  background: rgba(0, 0, 0, 0.5) url(../img/arrow_white.png) no-repeat 30px 18px;
  border-radius: 50%;
}

textarea[name="learningInfo"] {
  width: 100%;
  height: 100px;
  font-size: 16px;
}

.page-content {
  overflow: initial;
}
.page-content--scroll {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.content-block {
  margin: 0;
}
.content-block .content-block-inner:before, .content-block .content-block-inner:after {
  background-color: transparent;
}

.page {
  background-color: #fff;
}

.panel-left {
  border-right: solid 2px #d5d5d5;
}

.noPatient {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  color: white;
  padding-top: 200px;
}
.noPatient h2 {
  font-family: "mari-regular";
}

/*# sourceMappingURL=style.css.map */
